/* Form Container */
.form-container {
    background-color: white;
    /* width: 90vw; */
    max-width: 455px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input Wrapper */
.input-wrapper {
    margin-bottom: 1rem;
}

/* Label */
.label {
    display: block;
    color: #c60000;
    /* text-gray-700 */
    font-size: 0.875rem;
    /* text-sm */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Input and Textarea */
.input,
.textarea {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: #4a5568;
    /* text-gray-700 */
    line-height: 1.5;
    font-size: 1rem;
}

.input:focus,
.textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(246, 59, 59, 0.5);
    /* focus:shadow-outline */
}

/* Textarea specific styles */
.textarea {
    resize: vertical;
}

/* Button */
.button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f63b3b;
    /* bg-blue-500 */
    border: none;
    color: white;
    font-size: 0.875rem;
    /* text-sm */
    font-weight: bold;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #eb2525;
    /* hover:bg-blue-700 */
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    /* focus:shadow-outline */
}