@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../Assets/Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Anton";
    letter-spacing: 1px;
    overflow: hidden;
    color: white;
    position: relative;
}

.nav {
    position: relative;
    display: flex;
    width: 100%;
    padding: 5rem 10rem;
    padding-bottom: 0;
    justify-content: space-between;
    font-size: 1.5rem;
}

.nav .logo {
    display: flex;
    gap: 10px;
}

.nav .logo img {
    width: 30px;
    height: 30px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    display: flex;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav li a.active {
    color: red;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav li a:hover {
    text-decoration: underline;
}

.home-text {
    width: 100%;
    height: calc(100vh - 117px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.home-text h1 {
    font-size: 101px;
    font-style: italic;
    transform: translateY(-50px);
}

.home-text h1 b {
    color: red;
}

.home-text button {
    padding: 1rem;
    background-color: red;
    border: none;
    outline: none;
    font-family: "Hanken Grotesk";
    height: 55px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    width: 200px;
    transform: translateY(-50px);
    cursor: pointer;
}