.UserDashboard-Container{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
}
.Dashboard-Content {
    display: flex;
    padding: 2rem;
}

.Dashboard-Content .Dashboard-Workouts{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 4rem;
    padding-top: 2rem;
    height: fit-content;
}
.card {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #212121;
    padding: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
}

.price {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
}

.desc {
    /* margin-top: 0.75rem; */
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
}

.lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
}

.lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
}

.lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgb(250, 139, 139);
}

.action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgb(250, 139, 139);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;
    color: rgba(17, 24, 39, 1);
}
.logout-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    background-color: #f00;
    color: #fff;
    display: flex;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}

.logout-btn ion-icon{
    font-size: 1.2rem;
}

.no-workouts-message{
    color: #fff;
    font-size: 3rem;
}